In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('../data/credit/clients_fe.parquet')

In [3]:
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,years,amt_income_month,renda_per_capita,years_employed,target
0,5169718,1,0,1,0,State servant,Higher education,Married,House / apartment,Missing,2.0,28,9.615872,8.922792,5.33,0
1,5177389,1,0,0,0,Commercial associate,Higher education,Married,House / apartment,Missing,2.0,32,8.635154,7.942185,2.64,0
2,5178676,1,1,1,0,Working,Higher education,Married,House / apartment,Sales staff,2.0,30,9.615872,8.922792,4.48,0
3,5185896,1,1,1,0,Commercial associate,Higher education,Widow,House / apartment,Missing,1.0,49,9.733648,9.733648,4.98,0
4,5196912,1,0,0,0,Working,Secondary / secondary special,Married,House / apartment,Sales staff,2.0,48,9.185125,8.492080,5.30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,5998538,1,1,1,2,Working,Secondary / secondary special,Married,House / apartment,Sales staff,4.0,27,8.760296,7.374472,0.42,0
438553,5155788,1,1,1,0,Pensioner,Higher education,Married,House / apartment,Missing,2.0,45,10.532123,9.839002,0.00,1
438554,5156748,1,0,1,0,Pensioner,Secondary / secondary special,Married,House / apartment,Missing,2.0,56,9.145909,8.452868,0.00,1
438555,5159345,1,0,1,0,Pensioner,Higher education,Separated,House / apartment,Missing,1.0,63,9.222862,9.222862,0.00,1
438556,5164987,0,0,1,0,Pensioner,Higher education,Married,House / apartment,Missing,2.0,60,9.482350,8.789279,0.00,1

In [4]:
df['no_formal_employment'] = (
    (df['OCCUPATION_TYPE'] == 'Missing') &
    (df['years_employed'] == 0)
).astype(int)

df['unclassified_occupation'] = (
    (df['OCCUPATION_TYPE'] == 'Missing') &
    (df['years_employed'] > 0)
).astype(int)

#Criação de features aonde a pessoa é desempregada ou trabalha por conta própria/bico 
#Criação de features aonde a ocupação da pessoa não é classificada, mas conta como tempo empregado

In [5]:
cols = [
    'ID', 'CODE_GENDER','years','CNT_CHILDREN','CNT_FAM_MEMBERS',
    'FLAG_OWN_CAR','FLAG_OWN_REALTY',
    'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','OCCUPATION_TYPE',
    'years_employed','amt_income_month','renda_per_capita',
    'no_formal_employment','unclassified_occupation',
    'target'
]

df = df[cols]

#Organizando a tabela para facil visualização.

In [6]:
df

,ID,CODE_GENDER,years,CNT_CHILDREN,CNT_FAM_MEMBERS,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,years_employed,amt_income_month,renda_per_capita,no_formal_employment,unclassified_occupation,target
0,5169718,1,28,0,2.0,0,1,State servant,Higher education,Married,House / apartment,Missing,5.33,9.615872,8.922792,0,1,0
1,5177389,1,32,0,2.0,0,0,Commercial associate,Higher education,Married,House / apartment,Missing,2.64,8.635154,7.942185,0,1,0
2,5178676,1,30,0,2.0,1,1,Working,Higher education,Married,House / apartment,Sales staff,4.48,9.615872,8.922792,0,0,0
3,5185896,1,49,0,1.0,1,1,Commercial associate,Higher education,Widow,House / apartment,Missing,4.98,9.733648,9.733648,0,1,0
4,5196912,1,48,0,2.0,0,0,Working,Secondary / secondary special,Married,House / apartment,Sales staff,5.30,9.185125,8.492080,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,5998538,1,27,2,4.0,1,1,Working,Secondary / secondary special,Married,House / apartment,Sales staff,0.42,8.760296,7.374472,0,0,0
438553,5155788,1,45,0,2.0,1,1,Pensioner,Higher education,Married,House / apartment,Missing,0.00,10.532123,9.839002,1,0,1
438554,5156748,1,56,0,2.0,0,1,Pensioner,Secondary / secondary special,Married,House / apartment,Missing,0.00,9.145909,8.452868,1,0,1
438555,5159345,1,63,0,1.0,0,1,Pensioner,Higher education,Separated,House / apartment,Missing,0.00,9.222862,9.222862,1,0,1
438556,5164987,0,60,0,2.0,0,1,Pensioner,Higher education,Married,House / apartment,Missing,0.00,9.482350,8.789279,1,0,1

In [20]:
df = df.rename(columns={'target': 'target_heuristic'})

In [21]:
df_record = pd.read_csv('../data/credit/credit_record.csv')

In [22]:
df_record

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [10]:
#Leitura do seguinte dataset 

"""
Momento do pagamento da parcela(MONTHS_BALANCE)
 0  = mês atual
-1  = mês passado
-2  = dois meses atrás
-12 = 1 ano atrás
"""

"""
Status de pagamento das parcelas do crédito(STATUS)
C → cliente bom
0–1 → atraso leve
2–3 → alerta
4–5 → alto risco
X → inativo
"""

'\nStatus de pagamento das parcelas do crédito(STATUS)\nC → cliente bom\n0–1 → atraso leve\n2–3 → alerta\n4–5 → alto risco\nX → inativo\n'

In [11]:
SNAPSHOT = -6

vintage = (
    df_record[df_record["MONTHS_BALANCE"] <= 0]
    .groupby("ID")["MONTHS_BALANCE"].min().abs()
    .rename("vintage")
    .reset_index()
)

In [12]:
credit_df = df_record.copy()

credit_df = credit_df[
    (credit_df['MONTHS_BALANCE'] <= 0) &
    (credit_df['MONTHS_BALANCE'] >= SNAPSHOT)
]

bad_status = ["2", "3", "4", "5"]
credit_df['bad_flag'] = credit_df['STATUS'].isin(bad_status).astype(int)

hist = (
    credit_df.groupby('ID').agg(target=('bad_flag', 'max'),
                                meses_obs=('MONTHS_BALANCE', 'count')).reset_index())


hist = hist[hist['meses_obs'] >= 6]

target_df = hist[['ID', 'target']]

In [13]:
BAD = {2, 3, 4, 5}
STATUS_MAP = {"0": 0, "1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "C": 0, "X": 0}
WINDOW_MONTHS = 12


df_record = credit_df.copy()
df_record["MONTHS_BALANCE"] = pd.to_numeric(df_record["MONTHS_BALANCE"], errors="coerce")
df_record["STATUS"] = df_record["STATUS"].astype(str)

w = df_record[
    (df_record["MONTHS_BALANCE"] <= SNAPSHOT) &
    (df_record["MONTHS_BALANCE"] >= SNAPSHOT -WINDOW_MONTHS)
].copy()

w["STATUS"] = w["STATUS"].map(STATUS_MAP).fillna(0).astype(int)

w = w.sort_values(["ID", "MONTHS_BALANCE"], ascending=[True, False])

agg = (
    w.groupby("ID")
     .agg(
        max_status=("STATUS", "max"), # Severidade Máxima
        last_status=("STATUS", "first"), # Status Mais Recente
        n_months=("MONTHS_BALANCE", "count"), # Quantidade de Meses
        last_month=("MONTHS_BALANCE", "max"), # Último Mês
     )
     .reset_index()
)


tmp_bad = w[w["STATUS"].isin(BAD)].copy()
last_bad = (
    tmp_bad.groupby("ID")["MONTHS_BALANCE"]
           .max()
           .rename("last_bad")
           .reset_index()
)

hist_features = (
    vintage
    .merge(agg, on="ID", how="left")
    .merge(last_bad, on="ID", how="left")
)

hist_features["last_bad"] = hist_features["last_bad"].fillna(-1)

for c in ["max_status", "last_status", "n_months", "last_month"]:
    hist_features[c] = pd.to_numeric(hist_features[c], errors="coerce").fillna(0).astype(int)

In [14]:
final_df = df.merge(hist_features, on="ID", how="inner")
final_df = final_df.merge(target_df, on="ID", how="inner")

In [15]:
final_df

,ID,CODE_GENDER,years,CNT_CHILDREN,CNT_FAM_MEMBERS,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,...,no_formal_employment,unclassified_occupation,target_heuristic,vintage,max_status,last_status,n_months,last_month,last_bad,target
0,5022571,0,59,0,2.0,1,1,Pensioner,Higher education,Married,...,1,0,1,18,0,0,1,-6,-1.0,0
1,5045445,0,64,0,2.0,0,1,Pensioner,Secondary / secondary special,Married,...,1,0,1,20,0,0,1,-6,-1.0,0
2,5048458,1,25,1,3.0,1,1,Working,Higher education,Married,...,0,1,0,31,0,0,1,-6,-1.0,0
3,5053103,0,67,0,2.0,0,0,Pensioner,Higher education,Married,...,1,0,1,16,0,0,1,-6,-1.0,0
4,5053310,1,65,0,2.0,0,1,Pensioner,Higher education,Married,...,1,0,1,23,0,0,1,-6,-1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22229,5118374,1,56,0,2.0,0,0,Pensioner,Secondary / secondary special,Married,...,1,0,1,47,0,0,1,-6,-1.0,0
22230,5118564,1,29,0,2.0,1,1,Working,Higher education,Married,...,0,0,0,22,0,0,1,-6,-1.0,0
22231,5143577,0,24,0,2.0,1,0,Working,Incomplete higher,Married,...,0,0,1,27,0,0,1,-6,-1.0,0
22232,5149009,1,47,0,2.0,0,1,Working,Secondary / secondary special,Married,...,0,1,0,13,0,0,1,-6,-1.0,0
22233,5149870,1,49,0,2.0,0,1,Pensioner,Higher education,Married,...,1,0,1,11,0,0,1,-6,-1.0,0

In [16]:
final_df.to_parquet('../data/credit/model_df.parquet', compression='snappy')

# 📊 Engenharia de Features — Vintage Analysis

## 🎯 Objetivo

Construir variáveis comportamentais a partir do histórico de crédito dos clientes, utilizando registros mensais (`credit_record`), para uso em modelos preditivos de risco.

A abordagem é baseada em **Vintage Analysis**, técnica comum em instituições financeiras.

---

## 🗂️ Base de Dados

Campos principais utilizados:

| Coluna | Descrição |
|--------|-----------|
| ID | Identificador do cliente |
| MONTHS_BALANCE | Mês relativo ao snapshot (0 = atual) |
| STATUS | Status de pagamento |

---

## 🔢 Mapeamento de Status

Os status foram convertidos para severidade numérica:

| Status | Valor |
|--------|-------|
| 0 | 0 |
| 1 | 1 |
| 2 | 2 |
| 3 | 3 |
| 4 | 4 |
| 5 | 5 |
| C | 0 |
| X | 0 |

---

## ⏱️ Janela Temporal

Foi definido um recorte temporal para evitar *data leakage*:

- Snapshot: `-6`  
- Janela: `12` meses  

Intervalo analisado:

```text
[-18, -6]
```

---

## 📐 Cálculo do Vintage

O tempo de histórico do cliente foi calculado como:

```python
vintage = min(MONTHS_BALANCE).abs()
```

Representa o tempo máximo de relacionamento disponível.

---

## 🎯 Construção do Target

O target indica inadimplência relevante no período:

```python
bad_flag = STATUS ∈ {2,3,4,5}
target = max(bad_flag)
```

Regras:

- 1 → Houve atraso relevante  
- 0 → Sem atraso relevante  
- Mínimo de 6 meses de histórico  

---

## 🚨 Último Evento de Inadimplência

Identificação do atraso mais recente:

```python
last_bad = max(MONTHS_BALANCE | STATUS ∈ BAD)
```

Clientes sem atraso recebem `-1`.

---

## 🧩 Consolidação das Features

As variáveis foram consolidadas em um único dataset:

```python
hist_features = (
    vintage
    .merge(agg, on="ID", how="left")
    .merge(last_bad, on="ID", how="left")
)
```

Tratamentos aplicados:

- Conversão para formato numérico  
- Padronização de tipos  
- Preenchimento de valores nulos  

---

## 🔗 Integração Final

As features históricas foram integradas à base principal:

```python
final_df = df.merge(hist_features, on="ID", how="inner")
final_df = final_df.merge(target_df, on="ID", how="inner")
```

---

## 📋 Variáveis Geradas

| Variável | Descrição |
|----------|-----------|
| vintage | Tempo de histórico |
| max_status | Pior atraso |
| last_status | Status atual |
| n_months | Meses observados |
| last_month | Mês mais recente |
| last_bad | Último atraso |
| target | Variável resposta |

---

## ✅ Resultado

Ao final desta etapa, foi gerado um dataset consolidado contendo variáveis históricas prontas para a etapa de modelagem.